*::before, *::after, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --color-bg-dark: #121212;
    --color-dark: #1F1F1F;
    --color-header: #BB86FC;
    --color-item-100: #767676;
    --color-item-200:#383838;
    --color-item-300: #1F1F1F;
    --color-blur-white-100: #D9D9D9;
    --color-blur-white-200: rgba(234, 234, 234, 0.801);
    --color-blur-white-300: rgba(243, 243, 243, 0.801);
    --color-blur-white-400: rgba(250, 250, 250, 0.801);
    --border-radius-sm: 5px;
    --border-radius-md: 10px;
    --border-radius-lg: 15px;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    line-height: 1.6;
    background-color: var(--color-bg-dark);

}

/* MODIFIRE  */
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.blcok {
    padding: 2rem;
}

button:hover {
    background-color: #ffffff1b;
    color: #d5d5d5  ;
    scale: 1.05;
}
.btn {
    background-color: transparent;
    color: var(--color-blur-white);
    border: 1px var(--color-blur-white) solid;
    padding: 1rem 1.9rem;
    border-radius: 0.6rem ;
}

.btn--primary {
    border: 1px solid var(--color-header);
}
.bg-dark-100 {
    background-color: var(--color-item-100);
}
.bg-dark-200 {
    background-color: var(--color-item-200);
}
.bg-dark-200 {
    background-color: var(--color-item-300);
}
.red {
    color: rgba(179, 0, 0, 0.766);
}
.green {
    color: rgba(0, 96, 0, 0.629);
}
.blue {
    color: rgba(0, 0, 160, 0.718);
}
/* header */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    background-color: var(--color-dark);
    color: var(--color-header);
}
/* product */
.product {
    display: flex;
    justify-content: center;
}
.product-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-box__item {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color:var(--color-item-200);
    color: var(--color-blur-white-100);
    border-radius: var(--border-radius-lg);
    max-width: 30rem;
    width: 30rem;   
    /* margin: 1.5rem auto; */
    

}
.product-box__image {
    overflow: hidden ;
}
.product-box__image img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0 ;
    overflow: hidden;
}
.product-box__caption {
    display: flex;
    padding: 0; 
    width: 100%;
    padding: 1.5rem;    
    justify-content: space-between;
}
.product-box__caption > *{
    align-self: center;
}
.product-box__footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
.product-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    
}
}
@media screen and (min-width: 1024px) {
 .product-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}   
}

/* modal */
/* The Modal (background) */
.cart {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.cart-content {
    position: relative;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  /* width: 30%;  */
  width: 100%;
  max-height: 450px; 
  overflow-y: scroll;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.showModal {
     display: none;
}
.cart-footer {
}
.cart-item {
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.5rem;
}
.cart-item-img {
    height: 80px;
    width: fit-content;
    object-fit: cover;
    border-radius: 6px;
    flex-grow: -1;
}
.cart-item-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
.cart-content {
    margin: 5% auto; /* 15% from the top and centered */
    width: 80%;
}   
}
@media screen and (min-width: 1024px) {
.cart-content {
    width: 40%;
}   
}